/*This is a sample css page*/
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

/*Modify css for table select filters*/
.select2.select2-container.select2-container--default{
    width: 100% !important;
}

.pagination>li {
    cursor: pointer;
}


/*widgets*/
.block-table td {
    padding: 0 !important;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 10px !important;
}

-webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

@media screen and (min-width: 768px){
    .content {
        padding: 10px 10px 1px !important;
    }

    .page-heading{
        font-size: 20px !important;
    }

    .content p, .content .push, .content .block, .content .items-push>div {
        margin-bottom: 5px !important;
    }

    .block-header {
        padding: 10px 10px !important;
    }

    .block-content {
        padding: 15px 15px 1px !important;
    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
        padding: 5px 10px 5px !important;
        font-size: 14px !important;
    }
}
